# Environment
.env

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Node
node_modules/
**/node_modules/
frontend/node_modules/

# Build
frontend/dist/
**/dist/
dist/

# Databases & Checkpoints
*.sqlite*
checkpoints.sqlite*
*.env.local
f.example

# OS & macOS
.DS_Store
Thumbs.db
__MACOSX/
**/__MACOSX/

# IDE
.vscode/
.idea/

# Logs
*.log
